@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --primary-color: #fd7629;
}

body {
  background-color: #fafafa;
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: none;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* navbar */


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    /* position: fixed; */
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 19px;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: var(--primary-color);
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;

    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}



/* hero-container */

.hero-container, .hero-container .hero-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  width: 100%;
  margin: 20px 0 80px 0;
}

.hero-container .hero-item {
  width: 90%;
  height: 90vh;
  background-image: url("./assets/hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
}

.hero-container .hero-item p.hero-title {
  width: 80%;
  height: 70%;
  font-weight: 700;
  font-size: 40px;
  /* font-size: 56px; */
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}

.hero-container .hero-item .hero-quote {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: right;
  text-transform: capitalize;
  background: linear-gradient(96.1deg, #FD7629 1%, #FFFFFF 48.55%, #1FFF35 96.19%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  width: 25%;
  position: absolute;
  bottom: 160px;
  right: 50px;
}

.hero-container .hero-item .contribute-btn button {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 20px 25px;
  position: absolute;
  bottom: 60px;
  right: 50px;
  cursor: pointer;
}





.features {
  margin: 60px 80px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-card .icon-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.feature-card .text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-card .text-container h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  margin: 5px 0;
}
.feature-card .text-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 60%;

  color: #6f6f6f;
}

/* apps css */

.causes-container,
.causes-container .title-container,
.causes-container .card-container,
.causes-container .card-container .card .card-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.causes-container {
  width: 100%;
  flex-direction: column;
}

.causes-container .title-container {
  flex-direction: column;
  margin-top: 30px;
}

.causes-container .title-container .main-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.causes-container .title-container .title-des {
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  text-transform: lowercase;
  color: #6f6f6f;
}

.causes-container .card-container {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 30px 0;
}

.causes-container .card-container .card {
  width: 300px;
  background: #fff;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.causes-container .card-container .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.causes-container .card-container .card .recent-tag {
  background: #fd7629;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
}

.causes-container .card-container .card .card-info {
  flex-direction: column;
  padding: 25px 20px 35px 20px;
}

.causes-container .card-container .card .card-info .card-title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}

.causes-container .card-container .card .card-info .card-des {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 15px 0 25px 0;
  color: #6f6f6f;
}

.primary-btn button , 
.primary-btn button a{
  cursor: pointer;
  padding: 10px 35px;
  border: none;
  background: #fd7629;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

/* ========================== about ===================== */

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.about-container {
  width: 100%;
  background: #fff;
}

.about-container img {
  width: 50%;
}

.about-container .about-data {
  padding: 0 70px;
}

.about-container .about-data .about-title {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
}

.about-container .about-data .about-des {
  font-weight: 400;
  font-size: 18px;
  color: #6f6f6f;
  margin: 10px 0 30px 0;
}

/* ==================== spec =============== */

.spec-container .spec-data-container .spec-card,
.spec-container .spec-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spec-container {
  margin-bottom: 80px;
}

.spec-container .title-container .main-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.spec-container .spec-data-container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0px 80px;
}

.spec-container .spec-data-container .spec-card {
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 25px 35px;
  cursor: pointer;
}

.spec-container .spec-data-container .spec-card .data-container {
  margin-top: 20px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 0 80px 0;
}

.quote-container img {
  width: 100%;
}
.quote-container p {
  width: 75%;
  text-align: center;
  position: absolute;
  top: 110px;
  font-size: 30px;
  color: var(--primary-color);
  /* color: #fff; */
  font-weight: 600;
  letter-spacing: 1.35px;
  font-family: "Merriweather", serif;
}
.quote-container span {
  width: 75%;
  text-align: right;
  position: absolute;
  top: 175px;
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.35px;
  font-family: "Merriweather", serif;
}

/* footer */



.footer-data,.footer-data .company-profile,.footer-data .company-profile .company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  margin-top: 100px;
  background: #242733;
  color: #fff;
  padding: 50px 25px;
}

.footer-data {
  width: 100%;
  justify-content: space-around;
}

.footer-data ul {
  list-style: none;
}

.footer-data ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-data ul .link-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  cursor: auto;
}

.footer-data .company-profile{
  flex-direction: column;
} 

.footer-data .company-profile .company-logo{
  flex-direction: column;
}

.footer-data .company-profile .company-logo i{
  font-size: 56px;
}

.footer-data .company-profile .company-logo .company-name{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px 0 20px 0;
}

.footer-data ul li a {
  text-decoration: none;
  color: #fafafa;
}

.footer-data ul li a:hover,.footer-data ul li i:hover{
  color: var(--primary-color);
}

.footer-data ul li i{
  font-size: 22px;
  width: 25%;
}